@import '../../../less/_vars.less';
@import '../../../less/_mixins.less';

.App-recipes {
	background: @recipe-list-background;

	> ul {
		.reset;
		list-style: none;
	}

	.App-recipes-item {
		.clearfix;
		height: 75px;

		h4 {
			.reset;
			font-size: 16px;
			font-weight: 400;
		}

		.App-recipes-item-photo {
			width: 75px;
			height: 75px;
			float: left;
			margin-right: 10px;
		}

		> div {
			padding-top: 10px;
		}

		&.is-active {
			background: @recipe-list-selected;
		}
	}

	.App-recipes-noItems {
		text-align: center;
		font-size: 14px;
		margin-top: 50%;
		color: lighten( @base-font-color, 50% );
	}
}