@import '../../../less/_vars.less';
@import '../../../less/_mixins.less';

.App-recipes {
	@shadow: darken( @recipe-list-background, 40% );

	background: @recipe-list-background;

	&.has-selected {
		border-right: 1px solid fadeOut( @shadow, 90% );
		box-shadow: 0px 1px 3px fadeOut( @shadow, 90% ), 0px 1px 25px fadeOut( @shadow, 75% );	
	}	

	> ul {
		.reset;
		list-style: none;
	}

	.App-recipes-item {
		.clearfix;
		position: relative;
		height: 75px;

		h4 {
			.reset;
			font-size: 16px;
			font-weight: 400;
		}

		.App-recipes-item-photo {
			width: 75px;
			height: 75px;
			background-size: cover;
			background-position: 50% 50%;
			float: left;
			margin-right: 10px;
		}

		> div {
			padding-top: 10px;
		}

		&.is-active {
			background: @recipe-list-selected;

			&.is-fave span.fa {
				background: darken( @recipe-list-background, 14% );
				color: darken( @recipe-list-background, 50% );
			}
		}

		&.is-fave span.fa {
			@dims: 24px;

			background: darken( @recipe-list-background, 7% );
			color: darken( @recipe-list-background, 25% );
			display: block;
			position: absolute;
			right: 10px;
			top: 50%;
			font-size: 13px;
			margin-top: -( @dims / 2 );
			width: @dims;
			height: @dims;
			line-height: @dims + 2px;
			border-radius: @dims;
			text-align: center;
		}
	}

	.App-recipes-noItems {
		text-align: center;
		font-size: 14px;
		margin-top: 50%;
		color: lighten( @base-font-color, 50% );
	}
}